<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HaloServlet</servlet-name>
        <servlet-class>belajar.servlet.HaloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Komentar</servlet-name>
        <servlet-class>belajar.servlet.Komentar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HaloServlet</servlet-name>
        <!-- url tidak ada hubungan dengan struktur folder -->
        <!-- tidak seperti php/asp -->
        <url-pattern>/sub/folder/belajar/coba.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Komentar</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
